<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        				   http://www.springframework.org/schema/beans/spring-beans.xsd
        				   http://www.springframework.org/schema/context
        				   http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 资源文件-->
	<bean id="propertyConfigurer" class="com.yelixian.beiqi.utils.GlobalPropertyPlaceholder">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>

    <context:component-scan base-package="com.yelixian.beiqi">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- boneCP 数据库连接池配置信息-->
    <bean id="beiqiDataSource" class="com.jolbox.bonecp.BoneCPDataSource">
		<property name="driverClass" value="${jdbc.driverClassName}" />
		<property name="jdbcUrl" value="${beiqi.jdbc.url}" />
		<property name="username" value="${beiqi.jdbc.username}"/>
		<property name="password" value="${beiqi.jdbc.password}"/>
		<property name="partitionCount" value="3"/>
		<property name="maxConnectionsPerPartition" value="5"/>
		<property name="minConnectionsPerPartition" value="1"/>
		<property name="connectionTimeoutInMs" value="20000"/>
		<property name="idleMaxAgeInMinutes" value="20"/>
		<property name="idleConnectionTestPeriodInMinutes" value="60"/>
	</bean>
	
    <!-- spring与mybatis整合 读取所有mybatis配置文件-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="beiqiDataSource" />
    	<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
</beans>